body {
  margin: 0 auto;
}

img[alt=""],
img:not([alt]) {
  border: 5px solid #c00;
}

.rem {
  font-size: 16px;
}

.tt_u {
  text-transform: uppercase;
}

.color_neo {
  color: #E30613;
}
.color_cert {
  color: #02AC46;
}
.color_audio {
  color: #7E7E7E;
}
.color_farutex {
  color: #0D124A;
}

td {
  padding-left: 15px;
  text-align: left;
}

th {
  font-size: 1.2em;
  text-align: left;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: #fff;
  border: none;
  height: 4px;
  margin-bottom: 25px;
  width: 100px;
}

figure {
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

.mar_b-15 {
  margin-bottom: 15px;
}

.ta_l {
  margin-left: auto;
  margin-right: 13%;
  text-align: left;
  width: 50%;
}

.heading {
  color: #000;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.heading-small {
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
}

.company-heading {
  font-size: 1.5em;
  text-align: center;
}

.small {
  font-size: .8em;
  font-style: italic;
  font-weight: 400;
}

.w-20 {
  width: 20%;
}

.w-1 {
  width: 8.33333%;
}

.w-2 {
  width: 16.66667%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33333%;
}

.w-5 {
  width: 41.66667%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33333%;
}

.w-8 {
  width: 66.66667%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33333%;
}

.w-11 {
  width: 91.66667%;
}

.w-12 {
  width: 100%;
}

.font_100 {
  font-weight: 100;
}

.font_200 {
  font-weight: 200;
}

.font_300 {
  font-weight: 300;
}

.font_400 {
  font-weight: 400;
}

.font_500 {
  font-weight: 500;
}

.font_600 {
  font-weight: 600;
}

.font_700 {
  font-weight: 700;
}

.font_800 {
  font-weight: 800;
}

.font_900 {
  font-weight: 900;
}

.after {
  padding: 15px 0;
}
.after:after {
  background-color: #02AC46;
  content: '';
  display: block;
  margin: 5px 15px;
  height: 1px;
  width: 35%;
}

#portfolio {
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
}
#portfolio *, #portfolio *:before, #portfolio *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .header {
  background: #080d11 url("../images/logo.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}
#portfolio .header__title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
  padding: 100px 0;
  text-align: center;
}
#portfolio .header__subtitle {
  color: #ebebeb;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 100px;
}
#portfolio .header__photo {
  bottom: -150px;
  display: inline-block;
  text-align: center;
  position: relative;
}
#portfolio .header__photo img {
  border: 2px solid #F3F3F3;
  border-radius: 10%;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  width: 100%;
}
#portfolio .about {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
}
#portfolio .about__education {
  padding: 0 15px;
}
#portfolio .about__container {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
#portfolio .about__experience {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
#portfolio .about__lg .lg-heading {
  text-align: center;
  margin: 0;
}
#portfolio .about__lg .lg-heading img {
  height: 70px;
  margin: 0 auto;
  width: 70px;
}
#portfolio .about__avt_link {
  font-weight: 700;
}
#portfolio .about__avt_link .color_audio:after {
  background-color: #A6CE39;
  border-radius: 50%;
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
#portfolio .about__farutex {
  padding: 15px 0;
}
#portfolio .skills__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
#portfolio .skills__skill {
  text-align: center;
  margin: 20px 0;
}
#portfolio .skills__skill img {
  height: 128px;
  margin: 0 auto;
  width: 128px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#portfolio .skills__skill img:hover {
  transform: scale(0.95);
}
#portfolio .projects {
  padding: 10px;
}
#portfolio .projects__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#portfolio .projects__gallery .photo {
  text-align: center;
}
#portfolio .projects__gallery .photo img {
  height: 173px;
  margin: 10px;
  max-width: 300px;
  width: 100%;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#portfolio .projects__gallery .photo img:hover {
  transform: scale(1.05);
}
#portfolio .projects__gallery .photo__caption {
  font-size: 1em;
  font-weight: 600;
  margin: 5px auto;
}
#portfolio .projects__gallery .photo__caption:hover {
  color: #83CD29;
}
#portfolio .contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#portfolio .contact__data {
  font-size: 1em;
  text-align: center;
}
#portfolio .cv {
  padding: 10px;
  text-align: center;
}
#portfolio .cv__en, #portfolio .cv__pl {
  font-size: 24px;
  margin: 0 10px;
}
#portfolio .footer {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 30px 10px 0;
  text-align: center;
}
#portfolio .footer .fa {
  font-size: 1.5em;
  vertical-align: middle;
}
#portfolio .footer .fa-linkedin-square {
  color: #0077b5;
}
#portfolio .footer .fa-facebook-square {
  color: #3b5998;
  padding: 0 5px;
}
#portfolio .footer .fa-github-square {
  color: #333;
}
#portfolio .footer br {
  display: none;
}
@media (max-width: 1140px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .rem {
    font-size: 16px;
  }
}
@media (max-width: 980px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .rem {
    font-size: 14px;
  }
  #portfolio .ta_l {
    text-align: right;
    width: 90%;
  }
  #portfolio .w-3 {
    width: 33.3%;
  }
  #portfolio .header__photo {
    bottom: -7px;
    position: relative;
  }
  #portfolio .w-4 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .rem {
    font-size: 12px;
  }
  #portfolio .w-3 {
    width: 50%;
  }
  #portfolio .w-6, #portfolio .w-4 {
    width: 100%;
  }
  #portfolio .w-20 {
    width: 40%;
  }
  #portfolio .ta_l {
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 425px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .rem {
    font-size: 12px;
  }
  #portfolio .header__photo img {
    border-radius: 50%;
  }
  #portfolio .header__title {
    padding: 50px 0;
  }
  #portfolio .w-20 {
    width: 85%;
  }
  #portfolio .w-3 {
    width: 100%;
  }
  #portfolio .footer {
    padding: 0;
  }
  #portfolio .footer br {
    display: block;
  }
  #portfolio td {
    padding-left: 5px;
  }
  #portfolio .ta_l {
    width: 100%;
    text-align: left;
  }
  #portfolio table {
    margin-left: 0;
  }
  #portfolio .after:after {
    margin: 5px 5px;
  }
}
