body {
  margin: 0 auto;
}

#portfolio {
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
#portfolio *, #portfolio *:before, #portfolio *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio img[alt=""],
#portfolio img:not([alt]) {
  border: 5px solid #c00;
}
#portfolio .lp-rem {
  font-size: 16px;
}
#portfolio .tt_u {
  text-transform: uppercase;
}
#portfolio .lp-color {
  color: #E30613;
}
#portfolio .w-1 {
  width: 8.33333%;
}
#portfolio .w-2 {
  width: 16.66667%;
}
#portfolio .w-3 {
  width: 25%;
}
#portfolio .w-4 {
  width: 33.33333%;
}
#portfolio .w-5 {
  width: 41.66667%;
}
#portfolio .w-6 {
  width: 50%;
}
#portfolio .w-7 {
  width: 58.33333%;
}
#portfolio .w-8 {
  width: 66.66667%;
}
#portfolio .w-9 {
  width: 75%;
}
#portfolio .w-10 {
  width: 83.33333%;
}
#portfolio .w-11 {
  width: 91.66667%;
}
#portfolio .w-12 {
  width: 100%;
}
#portfolio [class*='w-'] {
  display: inline-block;
  margin-right: -4px;
}
#portfolio td {
  padding-left: 30px;
  text-align: left;
}
#portfolio th {
  font-size: 1.2em;
  text-align: left;
}
#portfolio ul {
  padding: 0;
}
#portfolio li {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 400;
}
#portfolio a {
  text-decoration: none;
  color: #000;
}
#portfolio hr {
  background-color: #fff;
  border: none;
  height: 4px;
  margin-bottom: 25px;
  width: 100px;
}
#portfolio h3 {
  margin-top: 25px;
}
#portfolio .ta_l {
  margin: 20px auto;
  text-align: left;
  width: 50%;
}
#portfolio .heading {
  color: #000;
  font-size: 1.9em;
  font-weight: 700;
  text-align: center;
}
#portfolio .w-20 {
  width: 20%;
}
#portfolio .header {
  background-image: url("../images/logo.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
}
#portfolio .header__main_title {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  padding: 100px 0;
  text-align: center;
}
#portfolio .header__main_subtitle {
  color: #ebebeb;
  display: block;
  font-size: 1.5em;
  padding-bottom: 100px;
}
#portfolio .header__photo {
  bottom: -150px;
  display: inline-block;
  text-align: center;
  position: relative;
}
#portfolio .header__photo img {
  border: 2px solid #F3F3F3;
  border-radius: 10%;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  width: 100%;
}
#portfolio .about {
  padding: 10px;
  position: relative;
}
#portfolio .about__education {
  padding: 0 15px;
  text-align: center;
  vertical-align: top;
}
#portfolio .about__education_bachelor {
  padding: 15px 0;
}
#portfolio .about__education_bachelor .bachelor_heading {
  font-size: 1.500em;
}
#portfolio .about__education_master {
  padding: 15px 0;
}
#portfolio .about__education_master .master_heading {
  font-size: 1.500em;
}
#portfolio .about__education_kodilla {
  padding: 15px 0;
}
#portfolio .about__education_kodilla .kodilla_heading {
  font-size: 1.5em;
  margin-top: 35px;
}
#portfolio .about__education_kodilla .kodilla_cert {
  color: #02AC46;
  display: inline-block;
}
#portfolio .about__experience {
  vertical-align: top;
  padding: 0 15px;
}
#portfolio .about__experience_neo24 {
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  padding: 15px 0;
}
#portfolio .about__experience_neo24 .neo24_heading {
  text-align: center;
}
#portfolio .about__experience_lg {
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
#portfolio .about__experience_lg .lg_heading {
  text-align: center;
  margin: 0;
}
#portfolio .about__experience_lg .lg_heading img {
  height: 70px;
  margin: 0 auto;
  width: 70px;
}
#portfolio .about__experience_avt {
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
#portfolio .about__experience_avt .avt_heading {
  margin-bottom: 20px;
  text-align: center;
}
#portfolio .about__experience_avt .avt_heading_link .logo {
  font-weight: 700;
}
#portfolio .about__experience_avt .avt_heading_link .logo .color_audio {
  color: #7E7E7E;
}
#portfolio .about__experience_avt .avt_heading_link .logo .color_audio:after {
  background-color: #A6CE39;
  border-radius: 50%;
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
#portfolio .about__experience_farutex {
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
#portfolio .about__experience_farutex .farutex_heading {
  margin-bottom: 20px;
  text-align: center;
}
#portfolio .about__experience_farutex .farutex_heading_link .color_farutex {
  color: #0D124A;
}
#portfolio .skills {
  padding: 10px;
}
#portfolio .skills__heading {
  font-size: 1.9em;
  font-weight: 700;
  padding: 15px 0;
  text-align: center;
}
#portfolio .skills__skill {
  text-align: center;
  margin: 20px -4px 20px 0;
}
#portfolio .skills__skill img {
  height: 130px;
  margin: 0 auto;
  width: 130px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#portfolio .skills__skill img:hover {
  transform: scale(1.1);
}
#portfolio .projects {
  padding: 10px;
}
#portfolio .projects__gallery .photo {
  text-align: center;
}
#portfolio .projects__gallery .photo img {
  height: 173px;
  margin: 10px;
  max-width: 300px;
  width: 100%;
  transition: all .4s;
}
#portfolio .projects__gallery .photo img:hover {
  transform: scale(1.1);
}
#portfolio .projects__gallery .photo__caption {
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin: 5px auto;
  text-align: center;
  width: 250px;
}
#portfolio .projects__gallery .photo__caption:hover {
  color: #83CD29;
}
#portfolio .contact {
  padding: 10px;
  text-align: center;
}
#portfolio .contact__data {
  font-size: 1em;
  text-align: center;
}
#portfolio .cv {
  padding: 10px;
  text-align: center;
}
#portfolio .cv__eng {
  font-size: 24px;
  margin-right: 10px;
}
#portfolio .cv__pl {
  margin-left: 10px;
  font-size: 24px;
}
#portfolio .footer {
  font-size: 1em;
  padding: 30px 10px 0;
  text-align: center;
}
#portfolio .footer .fa {
  font-size: 1.375em;
}
#portfolio .footer .fa-linkedin-square {
  color: #0077b5;
}
#portfolio .footer .fa-facebook-square {
  color: #3b5998;
  padding: 0 5px;
}
#portfolio .footer .fa-github-square {
  color: #333;
}
#portfolio .footer br {
  display: none;
}
@media (max-width: 1140px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .lp-rem {
    font-size: 15px;
  }
}
@media (max-width: 980px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .ta_l {
    text-align: right;
  }
  #portfolio .lp-rem {
    font-size: 14px;
  }
  #portfolio .w-3 {
    width: 33.3%;
  }
  #portfolio .header__photo {
    bottom: -7px;
    position: relative;
  }
  #portfolio .w-4 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .lp-rem {
    font-size: 12px;
  }
  #portfolio .w-6 {
    width: 100%;
  }
  #portfolio .w-3 {
    width: 100%;
  }
  #portfolio .w-4 {
    width: 100%;
  }
  #portfolio .w-20 {
    width: 40%;
  }
  #portfolio .ta_l {
    text-align: center;
  }
}
@media (max-width: 425px) {
  #portfolio {
    width: 100%;
  }
  #portfolio .header__photo img {
    border-radius: 50%;
  }
  #portfolio .w-20 {
    width: 100%;
  }
  #portfolio .footer {
    padding: 0;
  }
  #portfolio .footer br {
    display: block;
  }
  #portfolio table {
    margin-left: 25px;
  }
  #portfolio .ta_l {
    width: 75%;
  }
}
