@import "compass";
@import "compass/css3";
@import "modules/standalone";

#portfolio {
	background-color: #F3F3F3;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	overflow: hidden;
	*, *:before, *:after {
		@include box-sizing(border-box);
	}
	//HEADER
	.header {	
		background: #080d11 url('../images/logo.jpg')center no-repeat;
		background-attachment: fixed;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-bottom: 0;
		&__title {
			color: #fff;
			font-family: 'Lato', sans-serif;
			font-size: 3em;
			font-weight: 700;
			letter-spacing: 5px;
			margin: 0;
			padding: 100px 0;
			text-align: center;
		}
		&__subtitle {
			color: #ebebeb;
			display: block;
			font-family: 'Lato', sans-serif;
			font-size: 2em;
			font-weight: 400;
			padding-bottom: 100px;
		}
		&__photo {
			bottom: -150px;
			display: inline-block;
			text-align: center;
			position: relative;
			img {
				border: 2px solid #F3F3F3;
				border-radius: 10%;
				object-fit: cover;
				max-height: 300px;
				max-width: 300px;
				width: 100%;
			}
		}
	}
	.about {
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
		position: relative;
		&__education {
			padding: 0 15px;
		}
		&__container {
			display: flex;
			flex-direction: column;
			padding: 15px 0;
		}	
		&__experience {
			display: flex;
			flex-direction: column;
			padding: 0 15px;
		}
		&__lg {
			.lg-heading {
				text-align: center;
				margin: 0;
				img {
					height: 70px;
					margin: 0 auto;
					width: 70px;
				}
			}
		}
		&__avt {
			&_link {
				font-weight: 700;
				.color_audio {
					&:after {
						background-color: #A6CE39;
						border-radius: 50%;
						display: inline-block;
						content: '';
						width: 10px;
						height: 10px;
						vertical-align: middle;
					}
				}
			}
		}
		&__farutex {
			padding: 15px 0;
		}
	}
	.skills {
		&__container {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 10px;
			
		}
		&__skill {
			text-align: center;
			margin: 20px 0;
			img {
				height: 128px;
				margin: 0 auto;
				width: 128px;
				@include transition(all .4s ease);
				&:hover {
					transform: scale(0.95);
				}
			}
		}
	}
	.projects {
		padding: 10px;
		&__gallery {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.photo {
				text-align: center;
				img {
					height: 173px;
					margin: 10px;
					max-width: 300px;
					width: 100%;
					@include transition(all .4s);
					&:hover {
						transform: scale(1.05);
					}
				}
				&__caption {
					font-size: 1em;
					font-weight: 600;
					margin: 5px auto;
					&:hover {
						color: #83CD29;
					}
				}
			}
		}
	}
	.contact {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 10px;
		&__data {
			font-size: 1em;
			text-align: center;
		}
	}
	.cv {
		padding: 10px;
		text-align: center;
		&__en, &__pl {	
			font-size: 24px;
			margin: 0 10px;
		}
	}
	.footer {
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 10px;
		padding: 30px 10px 0;
		text-align: center;
		
		.fa {
			font-size: 1.5em;
			vertical-align: middle;
		}
		.fa-linkedin-square{
			color: #0077b5;
		}
		.fa-facebook-square {
			color: #3b5998;
			padding: 0 5px;
		}
		.fa-github-square {
			color: #333;
		}
		br {
			display: none;
		}
	}
	@import "modules/media";
}