@media (max-width: 1140px) {
    width: 100%;
    .rem {
        font-size: 15px;
    }
    .header {
        &__title {
            padding-top: 125px;
        }
    }
}
@media (max-width: 980px) {
    width: 100%;
    .rem {
        font-size: 14px;
    }
    .ta_l {
        text-align: right;
        width: 90%;
    }
    .w-3 {
        width: 33.3%;
    }
    .header {
        &__photo {
            bottom: -3px;
            position: relative;
        }
    }
    .w-4 {
        width: 50%;
    }
}
@media (max-width: 767px) {
    width: 100%;
    .rem {
        font-size: 12px;
    }
    .w-3 {
        width: 50%;
    }
    .w-6, .w-4 {
        width: 100%;
    }
    .w-20 {
        width: 40%;
    }
    .ta_l {
        font-size: 1em;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 425px) {
    width: 100%;
    .rem {
        font-size: 12px;
    }
    .header {
        &__photo {
            img {
                border-radius: 50%;
            }
        }
        &__title {
            padding: 115px 0 50px;
        }
    }
    .w-20 {
        width: 85%;
    }
    .w-3 {
        width: 100%;
    }
    .footer {
        padding: 0;
        br {
            display: block;
        }
    }
    td {
        padding-left: 15px;
    }
    .ta_l {
        width: 100%;
        text-align: left;
    }
    table {
        margin-left: 0;
    }
    .after {
        &:after {
            margin: 5px 5px;
        }
    }
}
