body {
	margin: 0 auto;
}

img[alt=""],
img:not([alt]) {
    border: 5px solid #c00;
}
.rem {
    font-size: 16px;
}
.tt_u {
    text-transform: uppercase;
}
.color {
    &_neo {
        color: #E30613;
    }
    &_cert {
        color: #02AC46;
    }
    &_audio {
        color: #7E7E7E;
    }
    &_farutex {
        color: #0D124A;
    }
}
td {
    padding-left: 15px;
    text-align: left;
}
th {
    font-size: 1.2em;
    text-align: left;
}
ul {
    padding: 0;
}
li {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
}
hr {
    background-color: #fff;
    border: none;
    height: 4px;
    margin-bottom: 25px;
    width: 100px;
}
figure {
    margin: 0;
}
h2 {
    margin-bottom: 0;
}
.mar {
    &_b-15 {
        margin-bottom: 15px;
    }
}

.ta_l {
    margin-left: auto;
    margin-right: 13%;
    text-align: left;
    width: 50%;
}
.heading {
    color: #000;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.heading-small {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
}
.company-heading {
    font-size: 1.5em;
    text-align: center;
}
.small {
    font-size: .8em;
    font-style: italic;
    font-weight: 400;
    
}
.w-20 {
    width: 20%;
}
@for $i from 1 through 12 {
    .w-#{$i} {
        width: 100% / 12 *$i;
    }
}
@for $i from 1 through 9 {
	.font_#{$i * 100} {
		font-weight: $i * 100;
	}
}
.after {
    padding: 15px 0;
    &:after {
        background-color: #02AC46;
        content: '';
        display: block;
        margin: 0 auto;
        height: 1px;
        width: 35%;
    }
}
    